.product-price {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3rem;
}
.discount-price {
  color: map-get($color, red);
}
.basic-price {
  color: map-get($color, grey-d);
}
.normal-price {
  color: map-get($color, grey-a);
}
.banner {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url("./../assets/img/banner.png");
  background-position: center;
  background-size: cover;
  position: relative;
  .container-banner {
    .title-text {
      margin-bottom: 2.4rem;
      .title-span {
        display: block;
      }
    }
    .shop-now {
      background: url("./../assets/img/shop_now.png") no-repeat;
      background-size: 36px;
      margin-bottom: 17rem;
      .sn-btn {
        text-decoration: underline;
        font-size: map-get($font-size, xl);
        font-weight: map-get($font-weight, bold);
        line-height: 3.6rem;
        padding-left: 6rem;
      }
    }
  }
}
.pills {
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 125px;
    background-color: map-get($color, white);
    border-radius: 0 70px 0 0;
  }
  ul {
    &.list-adventages {
      padding-bottom: 2.4rem;
      position: relative;
    }
  }
}
.adventage {
  .adventage-img {
    width: 36px;
    vertical-align: top;
  }
  .adventage-content {
    display: inline-block;
    width: 70%;
    padding-left: 1.6rem;
    .adventage-text {
      font-weight: map-get($font-weight, bold);
      font-size: map-get($font-size, sm);
      line-height: 2;
    }
    .adventage-detail {
      font-weight: map-get($font-weight, medium);
      line-height: 1.5;
      color: map-get($color, grey-c);
    }
  }
}
.overlay {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.7;
  }
  
}
.collection {
  ul {
    &.list-collection {
      li {
        &.list-collection-item {
          position: relative;
        }
      }
    }
  }
}
.collection-content {
  width: 100%;
  height: 100%;
  .collection-img {
    height: 100%;
    z-index: 1;
  }
  .badge-content {
    margin-bottom: 2rem;
  }
  .collection-item-content {
    position: absolute;
    left: 4rem;
    right: 4rem;
    bottom: 5.3rem;
    z-index: 1;
    .collection-item-text {
      font-size: map-get($font-size, xl);
      line-height: 3.6rem;
      font-weight: map-get($font-weight, medium);
      min-height: 7.3rem;
      margin-bottom: 2rem;
      color: map-get($color, white);
    }
  }
}
.selected {
  .container-selected {
    position: relative;
    .show-btn {
      position: absolute;
      top: 0;
      right: 1rem;
    }
  }
}
ul {
  &.list-product {
    padding-top: 3.6rem;
  }
}
.choose {
  background-color: map-get($color, grey-e);
  .container-choose {
    padding-top: 4.8rem;
    padding-bottom: 5.3rem;
    ul {
      &.list-benefit {
        padding-top: 4.8rem;
      }
    }
  }
}
.ptoday {
  .title {
    text-align: left;
  }
}
.newsletter {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.63) 33.28%, rgba(0, 0, 0, 0) 94.05%), url("./../assets/img/newsletter.png") no-repeat;
  background-size: cover;
  position: relative;
  .container-newsletter {
    .newsletter-cap {
      .newsletter-text {
        font-size: map-get($font-size, xl);
        line-height: 3.6rem;
        font-weight: map-get($font-weight, medium);
        color: map-get($color, white);
      }
    }
    .newsletter-subcribe {
      flex-grow: 1;
      .subcribe-form {
        align-items: center;
        height: 100%;
        .form-input {
          height: fit-content;
          width: 100%;
          margin-right: 4rem;
        }
        .subcribe-btn {
          height: fit-content;
          width: 100%;
        }
      }
    }
  }
}
.cart-product-price {
  font-size: map-get($font-size, normal);
  font-weight: map-get($font-weight, medium);
  line-height: 2.5rem;
  display: block;
  &.cart-discount-price {
      color: map-get($color, black);
  }
  &.cart-basic-price {
      color: map-get($color, grey-d);
      text-decoration-line: line-through; 
  }
}
.cart {
  margin-top: 13rem;
  .cart-header {
      display: flex;
      .cart-header-title {
          font-size: 2rem;
          font-weight: map-get($font-weight, bold);
      }
  }
  .cart-body {
      margin-top: 6.5rem;
      width: 100%;
      border-collapse: separate;
      border-spacing: 1rem 3rem;
      thead {
          font-size: map-get($font-size, sm);
          color: map-get($color, grey-d);
          text-align: left;
          border-bottom: 3rem solid transparent;
      }
      tbody {
          padding-top: 3rem;
          .cart-product-img {
              width: 70px;
              height: 70px;
              border-radius: 50%;
          }
          .cart-product-info {
              padding-left: 4.8rem;
              .cart-product-name {
                  font-weight: map-get($font-weight, bold);
                  
              }
              .cart-product-id {
                  font-weight: map-get($font-weight, regular);
                  font-size: map-get($font-size, xs);
                  color: map-get($color, grey-d);
              }
          }
          .cart-product-color {
              font-size: map-get($font-size, sm);
          }
          .cart-product-size {
              font-size: map-get($font-size, sm);
          }
          .cart-product-amount {
              .amount {
                  border: 1px solid #D8D8D8;
                  border-radius: 50px;    
                  display: inline-block;
                  padding: 0.6rem 1rem;
                  .input-amount {
                      border: none;
                      width: 3rem;
                      margin: 0 2rem;
                      font-size: map-get($font-size, normal);
                      font-weight: map-get($font-weight, bold);
                  }
              }
              
          }
      }
  }
  .cart-footer {
      margin-top: 9rem;
      margin-bottom: 20rem;
      align-items: center;
      .cart-footer-continue {
          font-size: map-get($font-size, sm);
          font-weight: map-get($font-weight, bold);
          display: inline;
          padding-left: 2rem;
      }
      .cart-footer-payment {
          gap: 7rem;
          .promo-code {
              border: 1px solid #D8D8D8;
              border-radius: 50px;    
              .form-input {
                color: #ABABAB;
              }
              .promo-code-btn {
                padding-right: 3rem;
              }
          }
      }
      .total-cost {
          font-size: map-get($font-size, normal);
          display: flex;
          gap: 2.4rem;
          .total-cost-price {
              font-weight: map-get($font-weight, bold);
          }
          
      }
  }
}
.cart-icon {
  &.cart-border-icon {
      size: 1.7rem;
      background-color: map-get($color, primary);
      border-radius: 50%;
      padding: 1rem;
  }
}
.line {
  display: inline-block;
  width: 70px;
  height: 1px;
  background-color: #EEEEEE;
  margin: auto 2.4rem;
  vertical-align: text-top;
}
tr, td {
  vertical-align: middle;
}
tr > th:not(:first-child),
tr > td:not(:first-child) {
  text-align: center;
}
@media screen and (max-width: map-get($breakpoints, md)) {
  .product-price {
    font-size: map-get($font-size, xxxs);
    line-height: 1.5rem;
  }
  .banner {
    .container-banner {
      .title-text {
        font-size: 4.8rem;
        font-weight: map-get($font-weight, bold);
        margin-bottom: 1.6rem;
      }
      .shop-now {
        background: url("./../assets/img/shop_now.png") no-repeat;
        background-size: 32px;
        .sn-btn {
          text-decoration: underline;
          font-size: map-get($font-size, sm);
          padding-left: 4.8rem;
        }
      }
    }
  }
  .pills {
    display: none;
  }
  .adventage {
    .adventage-img {
      width: 36px;
      vertical-align: top;
    }
    .adventage-content {
      display: inline-block;
      width: 70%;
      padding-left: 1.6rem;
      .adventage-text {
        font-size: map-get($font-size, xxs);
      }
      .adventage-detail {
        font-size: map-get($font-size, xxxs);
      }
    }
  }
  .collection-content {
    .collection-item-content {
      position: absolute;
      left: 1.6rem;
      right: 1.6rem;
      bottom: 1.6rem;
      .collection-item-text {
        font-size: map-get($font-size, sm);
        line-height: 2.1rem;
        min-height: 4rem;
      }
    }
  }
  .selected {
    .container-selected {
      .show-btn {
        right: 2.4rem;
        padding: 0;
        line-height: 2.7rem;
      }
    }
  }
  ul {
    &.list-product {
      padding-top: 1.6rem;
    }
  }
  .choose {
    .container-choose {
      padding-top: 2.4rem;
      padding-bottom: 2.4rem;
      ul {
        &.list-benefit {
          padding-top: 3.6rem;
        }
      }
    }
  }
  .newsletter {
    .container-newsletter {
      .newsletter-cap {
        .newsletter-text {
          font-size: map-get($font-size, sm);
          line-height: 2.1rem;
          padding-right: 12rem;
        }
      }
      .newsletter-subcribe {
        flex-grow: 1;
        .subcribe-form {
          display: block;
          padding-top: 2.4rem;
          .form-input {
            margin-bottom: 1.6rem;
            line-height: 1.8rem;
            margin-right: 0;
          }
        }
      }
    }
  }
}
