* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 0 144px;
}
.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}
ul {
    list-style: none;
}

li {
    display: inline;
}

button {
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

header {
    height: 48px;
    margin-top: 48px;
}

.txt-center {
    text-align: center;
}

.yellow-text {
    color: #FBB03B;
}

.logo {
    height: 48px;
}

.logo .logo-img {
    width: 140px;
    height: 35px;
}

.header-function .function-img {
    width: 24px;
    height: 24px;
}

nav li.menu-item {
    margin: 0 70px;
}

nav li.menu-item a {
    color: #FBB03B;
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
}

nav .function-img {
    line-height: 48px;
}

main {
    margin-top: -96px;
}

main .banner {
    height: 800px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url("/assets/img/banner.png");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
}

main .container-title {
    position: absolute;
    width: 50%;
    top: 25%;
    height: 85%;
    padding-left: 16.6667%;
}

.container-title .title h2 {
    font-size: 4.5rem;
    font-weight: bold;
    color: #fff;
}

main .title span {
    color: #FBB03B;
}

main .sn-img {
    height: 36px;
    width: 36px;
    vertical-align: middle;
}

main .sn-btn {
    text-decoration: underline;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: middle;
}

main .container-pills {
    width: 80%;
    height: 15%;
    padding: 20px 0;
    padding-left: 16.6667%;
    padding-right: 96px;
    background-color: #FFFFFF;
    border-radius: 0 70px 0 0;
    position: absolute;
    bottom: 0;
}

main .adventage-img {
    width: 36px;
    height: 36px;
    vertical-align: top;
}

main .adventage-content {
    display: inline-block;
    width: 70%;
}

main .adventage-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 2;
}

main .adventage-detail {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: #A8A8A8;
}

main .collection {
    margin-top: 48px;
}

main .list-collection {
    column-gap: 20px;
}

main .list-collection-item {
    position: relative;
}

main .collection-content {
    width: 100%;
    height: 100%;
}

main .collection-img {
    width: 100%;
    height: 100%;
    position: relative;
}

main .collection-item-content {
    position: absolute;
    top: 50%;
    left: 8%;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

main .overlay-collection {
    background: rgba(0, 0, 0, 0.5);
}

.discount-text {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: red;
    display: inline;
    padding: 5px 10px;
    border-radius: 15px;
}

.collection .discount-text {
    position: absolute;
    top: 40%;
    left: 8%;
}

.collection-item-text,
.newsletter-text {
    font-size: 1.5rem;
    line-height: 36px;
    font-weight: lighter;
    color: #FFFFFF;
}

.show-btn {
    background-color: #FFFFFF;
    padding: 16px 20px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bold;
}

.collection-btn {
    border: none;
    margin-top: 20%;
}

main .selected {
    margin-top: 96px;
}

main .selected-header {
    display: flex;
    justify-content: space-between;
}

.selected-header .show-btn {
    border: 1px solid #C4C4C4;
}


main .list-product {
    column-gap: 20px;
    padding-top: 36px;
}

.title {
    font-size: 2rem;
    font-weight: lighter;
    color: #333333;
}

main .product-card {
    width: 100%;
    height: 100%;
    padding-bottom: 12px;
    position: relative;
}

main .discount-text {
    position: absolute;
    top: 24px;
    left: 18px;
}

.product-card .product-img {
    width: 100%;
    height: 85%;
    position: relative;
}

.product-sale {
    display: flex;
    justify-content: space-between;
}

.product-name {
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 24px;
    color: #333333;
}

.product-price {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.discount-price {
    color: #FF0000;
}

.basic-price {
    color: #CECECE;
}

.normal-price {
    color: #333333;
}

main .choose {
    margin-top: 48px;
    background-color: #F7F7F7;
}

main .container-choose {
    padding-top: 48px;
    padding-bottom: 48px;
}

.list-reason {
    padding-top: 48px;
    column-gap: 48px;
}

.reason-img {
    width: 68px;
    height: 68px;
    display: block;
}

.reason-content {
    padding-top: 48px;
}

main .ptoday {
    margin-top: 48px;
}

main .container-newsletter {
    padding-top: 86px;
    padding-bottom: 86px;
}

main .newsletter {
    margin-top: 48px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.63) 33.28%, rgba(0, 0, 0, 0) 94.05%), url("/assets/img/newsletter.png") no-repeat;
    background-size: cover;
    position: relative;
}

main .newsletter-cap {
    padding-right: 96px;
}

main .subcribe-form {
    display: flex;
    justify-content: space-between;
}

main .email-subcribe {
    border: none;
    background: #FFFFFF;
    border-radius: 61px;    
    width: 65%;
    font-size: 13px;
    color: #ABABAB;
    padding: 14px 24px;
}

main .subcribe-btn {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #333333;
    padding: 14px 28px;
    border-radius: 56px;
    background-color: #FBB03B;
}

footer {
    background-color: #FBB03B;
}

footer .container-footer {
    padding-top: 46px;
}

footer .footer-info {
    padding-bottom: 48px;
}

footer .footer-intro {
    align-items: flex-end;
    padding-right: 220px;
}

footer .topic-item {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
}

.intro-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

footer .footer-list-social {
    padding-top: 56px;
}

footer li.list-topic-item {
    display: block;
    padding: 8px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

footer .topic-text {
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 8px;
}

footer hr {
    border: none;
    border-bottom: 1px solid #FFFFFF;
}

.footer-text {
    font-size: 12px;
    font-weight: normal;
    color: #FFFFFF;
}

footer .social-icon {
    max-width: 16px;
    max-height: 16px;
}

footer .footer-author {
    padding-top: 24px;
    padding-bottom: 24px;
}

@media screen and (max-width: 479px) {
    html {
        font-size: 10px;
    }

    .container {
        padding: 0 24px;
    }

    .row {
        flex-wrap: wrap;
    }

    main .list-collection,
    main .list-product,
    main .list-reason {
        column-gap: 0;
    }

    .collection .row,
    .ptoday .row,
    .selected .row {
        row-gap: 8px;
    }

    main .list-reason {
        row-gap: 16px;
    }


    main .collection {
        margin-top: 24px;
    }
    main .selected {
        margin-top: 48px;
    }

    .show-btn {
        padding: 0.5rem 1rem;
        border-radius: 30px;
        font-size: 1rem;
    }

    header {
        margin-top: 0;
        height: 72px;
        background-color: #FFFFFF;
    }

    header .container-header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header .menu {
        display: none;
    }

    main {
        margin-top: -72px;
    }

    .pills {
        display: none;
    }

    .banner .container-title {
        width: 100%;
    }

    main .reason-img {
        display: inline;
    }

    main .reason-content {
        display: inline;
    }

    footer .footer-intro {
        padding: 0;
    }

    footer .footer-list-social {
        display: none;
    }
}