.container {
  padding: 0 1rem;
  max-width: 1170px;
  margin: 0 auto;
}
.row {
  display: flex;
  margin: 0 -1rem;
}
.col {
  padding: 0 1rem;
}
@for $i from 1 through 12 {
  .col-md-#{$i} {
    @include col-width($i);
  }
}
.row.center-x { 
  justify-content: center;
}
.row.center-y {
  align-items: center;
}

@media screen and (max-width: 479px) {
  .container {
    padding: 0 0.4rem;
    max-width: 335px;
  }
  .row {
    flex-wrap: wrap;
    margin: 0 -0.4rem;
  }
  .col {
    padding: 0 0.4rem;
  }
  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      @include col-width($i);
    }
  }
  main {
    .list-benefit {
      row-gap: 1.6rem;
    }
  }
  .collection,
  .ptoday,
  .selected {
    .row {
      row-gap: 0.8rem;
    }
    
  }
}
