header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 3rem 0;
  .f-row {
    align-items: center;
  }
}
.logo {
  .logo-img {
    width: 140px;
    display: block;
  }
}
.menu {
  ul {
    &.list-menu {
      display: flex;
      gap: 9.6rem;
      li {
        &.menu-item {
          a {
            color: map-get($color, primary);
            font-size: map-get($font-size, lg);
            font-weight: map-get($font-weight, bold);
            line-height: 4.8rem;
          }
        }
      }
    }
  }
}
.header-function {
  ul {
    &.list-function {
      display: flex;
      gap: 24px;
      li {
        &.function-item {
          .function-img {
            width: 24px;
            display: block;
          }
        }
      }
    }
  }
}
#cart-view {
  position: relative;
  display: block;
  .cart-counter {
      text-align: center;
      width: 2rem;
      position: absolute;
      right: -0.6rem;
      top: -0.5rem;
      background-color: red;
      line-height: 1.5rem;
      font-size: 10px;
      border-radius: 6px;
  }
}
@media screen and (max-width: map-get($breakpoints, md)) {
  header {
    background-color: map-get($color, white);
    padding: 2rem 0;
    .container-header {
      .logo {
        .logo-img {
          filter: brightness(0) saturate(100%);
        }
      }
    }
  }
  .logo {
    .logo-img {
      width: 128px;
    }
  }
  .menu {
    display: none;
  }
  .header-function {
    ul {
      &.list-function {
        li {
          &.function-item {
            .function-img {
              width: 20px;
              filter: brightness(0) saturate(100%);
            }
          }
        }
      }
    }
  }
}
