@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
ul {
    list-style: none;
}
li {
    display: inline;
}
.btn {
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}
.txt-center {
    text-align: center;
}
.justify-content-between {
    justify-content: space-between;
}
.yellow-text {
    color: #FBB03B;
}

header {
    height: 48px;
    margin-top: 48px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
header .logo {
    height: 48px;
}
.logo .logo-img {
    width: 140px;
    height: 35px;
}
header li.menu-item {
    margin: 0 70px;
}
header li.menu-item a {
    color: #FBB03B;
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
}
header .header-function,
header .logo {
    display: flex;
    align-items: center;
}
header .header-function {
    height: 100%;
}
.header-function .function-img {
    width: 24px;
    height: 24px;
}
.function-item:not(:last-child) {
    padding-right: 24px;
}
main {
    margin-top: -96px;
}
main .banner {
    height: 800px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/banner.png");
    background-position: center;
    background-size: cover;
}
.banner .container-title {
    height: 675px;
    padding-left: 240px;
    padding-top: 222px;
}
.container-title .title h2 {
    font-size: 72px;
    font-weight: bold;
    color: #fff;
}
.banner .title span {
    color: #FBB03B;
    display: block;
}
.banner .shop-now {
    background: url("../img/shop_now.png") no-repeat;
    background-size: 36px;
    margin-top: 24px;
}
main .sn-btn {
    text-decoration: underline;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    padding-left: 60px;
}
main .container-pills {
    width: 80%;
    height: 125px;
    padding: 20px 0;
    padding-left: 240px;
    padding-right: 96px;
    background-color: #FFFFFF;
    border-radius: 0 70px 0 0;
    margin: 0;
}
main .adventage {
    padding-top: 12px;
}
main .adventage-img {
    width: 36px;
    height: 36px;
    vertical-align: top;
}
main .adventage-content {
    display: inline-block;
    width: 70%;
    padding-left: 16px;
}
main .adventage-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 2;
}
main .adventage-detail {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: #A8A8A8;
}
main .collection {
    margin-top: 48px;
}
main .list-collection-item {
    position: relative;
}
main .collection-content {
    width: 100%;
    height: 100%;
}
main .collection-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.7;
}
main .collection-content > * {
    z-index: 100;
}
main .collection-img {
    width: 100%;
    height: 100%;
    z-index: 1;
}
main .collection-item-content {
    position: absolute;
    top: 50%;
    left: 8%;
    height: 50%;
}
.collection-item-content .collection-item-text {
    max-height: 60%;
    padding-bottom: 55px;
}
.badge {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: red;
    display: inline;
    padding: 5px 10px;
    border-radius: 15px;
}
.collection .badge {
    position: absolute;
    top: 40%;
    left: 8%;
}
.collection-item-text,
.newsletter-text {
    font-size: 24px;
    line-height: 36px;
    font-weight: lighter;
    color: #FFFFFF;
}
.newsletter-text {
    width: 80%;
}
.show-btn,
.collection-btn {
    padding: 16px 20px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bold;
}
main .container-selected {
    position: relative;
}
main .selected {
    margin-top: 96px;
}
main .selected-header {
    display: flex;
    justify-content: space-between;
}
.selected .show-btn {
    border: 1px solid #C4C4C4;
    position: absolute;
    top: 0;
    right: 10px;
}
main .list-product {
    padding-top: 36px;
}
.title {
    font-size: 32px;
    font-weight: lighter;
    color: #333333;
}
main .product-card {
    width: 100%;
    height: 100%;
    padding-bottom: 12px;
    position: relative;
}
main .badge {
    position: absolute;
    top: 6%;
    left: 6%;
}
.product-card .product-img {
    width: 100%;
    height: 85%;
    position: relative;
}
.product-sale {
    display: flex;
    justify-content: space-between;
}
.product-name {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.product-price {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.discount-price {
    color: #FF0000;
}
.basic-price {
    color: #CECECE;
}
.normal-price {
    color: #333333;
}
main .choose {
    margin-top: 48px;
    background-color: #F7F7F7;
}
main .container-choose {
    padding-top: 48px;
    padding-bottom: 48px;
}
.list-benefit {
    padding-top: 48px;
}
.benefit-img {
    width: 68px;
    height: 68px;
    display: block;
}
.benefit-content {
    padding-top: 48px;
}
main .ptoday {
    margin-top: 48px;
}
main .container-newsletter {
    padding-top: 86px;
    padding-bottom: 86px;
}
main .newsletter {
    margin-top: 48px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.63) 33.28%, rgba(0, 0, 0, 0) 94.05%), url("../img/newsletter.png") no-repeat;
    background-size: cover;
    position: relative;
}
main .newsletter-subcribe {
    flex-grow: 1;
}
main .subcribe-form {
    display: flex;
    justify-content: space-between;
    padding: auto 0;
}
main .email-subcribe {
    border: none;
    background: #FFFFFF;
    border-radius: 61px;    
    width: 65%;
    font-size: 13px;
    color: #ABABAB;
    padding: 14px 24px;
}
main .subcribe-btn {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #333333;
    padding: 8px 20px;
    border-radius: 56px;
    background-color: #FBB03B;
}
footer {
    background-color: #FBB03B;
}
footer .container-footer {
    padding-top: 46px;
}
footer .footer-info {
    padding-bottom: 48px;
}
footer .topic-item {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding: 8px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}
footer .intro-content {
    margin-top: 24px;
}
.intro-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    width: 75%;
}
footer .footer-list-social {
    padding-top: 56px;
}
.list-social-item:not(:first-child) {
    padding-left: 32px;
}
footer .topic-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 8px;
}
footer .footer-topic {
    flex-grow: 1;
}
footer .list-topic {
    display: flex;
    justify-content: space-between;
}
footer .list-topic-item {
    display: block;
}
footer .list-topic-item:not(:last-child) {
    padding-bottom: 24px;
}
.footer-text {
    font-size: 12px;
    font-weight: normal;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    line-height: 68px;
}
footer .social-icon {
    max-width: 16px;
    max-height: 16px;
}
footer .footer-author {
    padding-top: 24px;
    padding-bottom: 24px;
}

@media screen and (max-width: 479px) {
    main .collection {
        margin-top: 24px;
    }
    main .selected {
        margin-top: 48px;
    }
    .product-price {
        font-size: 10px;
    }
    .show-btn,
    .collection-btn {
        padding: 5px 10px;
        border-radius: 30px;
        font-size: 10px;
    }
    .collection-item-text, .newsletter-text {
        font-size: 14px;
    }
    .collection .collection-btn {
        margin-top: 5%;
    }
    .selected .show-btn  {
        right: 4px;
    }
    header {
        margin-top: 0;
        height: 72px;
        background-color: #FFFFFF;
    }
    header .container-header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .container-title .title h2 {
        font-size: 48px;
    }
    li.list-product-item {
        width: calc(50% - 4px);
    }
    header .menu {
        display: none;
    }
    header .logo-img,
    header .function-img {
        filter: brightness(0) saturate(100%);
    }
    .header-function .function-img {
        width: 20px;
        height: 20px;
    }
    .logo .logo-img {
        width: 128px;
        height: 32px;
    }
    main {
        margin-top: -72px;
    }
    .title {
        font-size: 18px;
    }
    .banner .shop-now {
        background-size: 32px;
    }
    main .sn-btn {
        font-size: 14px;
        padding-left: 48px;
    }
    .pills {
        display: none;
    }
    main .list-collection-item:not(:first-child) {
        width: calc(50% - 4px);
    }
    .banner .container-title {
        width: 100%;
        padding-left: 24px;
        padding-top: 343px;
    }
    .badge {
        font-size: 8px;
        padding: 3px 6px;
    }
    .choose .benefit {
        display: flex;
        font-size: 10px;
    }
    .product-name {
        font-size: 12px;
    }
    main .adventage-text {
        font-size: 12px;
    }
    main .adventage-detail {
        font-size: 10px;
    }
    main .benefit-content {
        padding-top: 0;
        padding-left: 16px;
        width: 80%;
    }
    main .container-newsletter {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .newsletter-subcribe .subcribe-form {
        display: block;
        padding-top: 24px;
    }
    main .email-subcribe {
        width: 100%;
        margin-bottom: 16px;
        padding: 10px 12px;
    }
    footer .footer-intro {
        padding: 0;
        padding-bottom: 48px;
    }
    footer .list-topic {
        display: block;
    }
    footer .intro-text {
        width: 100%;
    }
    footer .footer-list-social {
        display: none;
    }
}