.form-input {
    border: none;
    background: #FFFFFF;
    border-radius: 6.1rem;    
    font-size: 1.3rem;
    color: #ABABAB;
    padding: 1.4rem 2.4rem;
    width: 100%;
}

@media screen and (max-width: 479px) {
    .form-input {
        font-size: 1.2rem;
        padding: 0.6rem 1.2rem;
    }
}