.product-price {
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 3rem;
}
.discount-price {
    color: $red;
}
.basic-price {
    color: #CECECE;
}
.normal-price {
    color: $dark-gray;
}
@media screen and (max-width: 479px) {
    .product-price {
        font-size: 1rem;
    }
}