.product-card {
  position: relative;
  .product-img {
    position: relative;
  }
  .badge {
    position: absolute;
    top: 6%;
    left: 6%;
  }
  .product-info {
    .product-sale {
      display: flex;
      justify-content: space-between;
    }
  }
  .cart-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  &:hover {
    .cart-btn {
        display: block;
    }
}
}
@media screen and (max-width: map-get($breakpoints, md)) {
  .product-card {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
