@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: $font-body;
}
body {
	font-size: map-get($font-size, sm);
}
a {
	text-decoration: none;
	color: map-get($color, white);
	cursor: pointer;
}
li {
	display: inline;
}
img {
	max-width: 100%;
}
h2 {
	font-size: map-get($font-size, xxxl);
	font-weight: map-get($font-weight, bold);
	color: map-get($color, white);
	line-height: 101.5%;
}
h3 {
	font-size: map-get($font-size, xxl);
	font-weight: map-get($font-weight, regular);
	color: map-get($color, grey-a);
	line-height: 4.8rem;
}
h4 {
	font-weight: map-get($font-weight, regular);
	font-size: map-get($font-size, normal);
	line-height: 2.4rem;
	color: map-get($color, grey-a);
}
.justify-content-between {
	justify-content: space-between;
}
.yellow-text {
	color: map-get($color, primary);
}
.f-row {
	display: flex; 
	flex-direction: row;
}
.pc-only {
	display: block;
}
.sp-only {
	display: none;
}
@media screen and (max-width: map-get($breakpoints, md)) {
	h2 {
		font-size: 4.8rem;
		line-height: 4.8rem;
	}
	h3 {
		font-size: map-get($font-size, lg);
		line-height: 2.7rem;
	}
	h4 {
		font-size: map-get($font-size, xxs);
		line-height: 1.8rem;
	}
	.pc-only {
		display: none;
	}
	.sp-only {
		display: block;
	}
}
