@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Poppins', 'sans-serif';
}
body {
    font-size: 10px;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
li {
    display: inline;
}
.justify-content-between {
    justify-content: space-between;
}
.yellow-text {
    color: $yellow;
}